h1 {
  font-family: "Dela Gothic One", cursive;
  text-transform: capitalize;
  text-align: center;
}

p {
  font-family: "PT Mono", monospace;
  line-height: 1.5;
}

.container {
  max-width: 720px;
  border: 2px solid;
}
